<h1> Invoice #<%= @invoice.id%></h1>
<p>Customer Id: <%= @invoice.customer_id%></p>
<p>Merchant Id: <%= @invoice.merchant_id%></p>
<p>Status: <%= @invoice.status%></p>
<p>Created_at: <%= @invoice.created_at%></p>
<p>Updated_at: <%= @invoice.updated_at%></p>