<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%=@merchant.name%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/master.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/merchants/merchant-show.css"/>
  </head>

  <body>

    <header>
      <span>LittleShop</span>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </header>

    <banner>
      <a id="dashboard" href="/merchants-dashboard"><p>Dashboard</p></a>
      <div class="center">
        <h1><%= @merchant.name %></h1>
        <div class="banner_buttons">
          <a  href='/merchants/<%=@merchant.id%>/edit'>
            <button id="edit_button" type="button">
              Edit
            </button>
          </a>
          <form id="Delete" action="/merchants/<%= @merchant.id %>" method="POST">
            <input type="hidden" name="_method" VALUE='DELETE'>
            <input class="delete_button" type="submit" value="Delete"/>
          </form>
        </div>
      </div>
    </banner>
    <content>
        <% @items.each do |item| %>
          <div>
            <img src="<%=@item.img%>">
            <h1><%= item.name %></h1>
            <div> <%= item.unit_price%>
          </div>
        <%end%>
    </content>
  </body>
</html>