<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/css/master.css" />
</head>

<body>
  <header>
    <span>LittleShop</span>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </span>
  <header>
  <h1>Edit <%= @item.name %></h1>


  <form class='edit-item' action='/items/<%= @item.id %>' method='post'>
      <input type='hidden' name='_method' value='PUT'>
        <p>Name: <input type='text' name='item[name]' value='<%= @item.name %>'></p>
        <p>Description: <input type='text' name='item[description]' value='<%= @item.description %>'></p>
        <p>Price: <input type ='text' name='item[unit_price]' value='<%= @item.unit_price %>'></p>
        <p>Link to Image: <input type='text' name='item[img]' value='<%= @item.img %>'></p>
        <p>Merchant:
          <select name='merchants' action='/merchants'>
            <% @merchants.each do |merchant| %>
            <option value='merchant'>
              <%= merchant.name %>
            </option>
          <% end %>
        </select>
        </p>
    <p><input type='submit' value='Submit'></p>
  </form>
</body>